.button {
  font-family: inherit;
  @apply px-3 rounded cursor-pointer bg-transparent opacity-60 text-inherit text-4xl;
  &:hover {
    opacity: 1;
  }
}

.complete {
  color: rgb(1, 214, 1);
}

.pause {
  color: yellow;
}

.delete {
  color: red;
}
