.container {
  max-width: 740px;
  min-height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-primary);
  position: relative;
}

@media (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    width: 100%;
    min-height: 100vh;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 1023px;
    min-height: 100vh;
  }
}
