.item {
  background-color: var(--secondary-color);
}

@media (max-width: 1024px) {
  .item {
    flex: 1;
  }
}

.todo {
  flex: 1;
  height: 100%;
  padding: 12px 12px;
}

.todo-btn {
  display: block;
}
@media (max-width: 739px) {
  .todo-btn {
    display: block;
    font-size: 2rem;
  }
}
