.container {
  width: var(--main-width);
  background-color: var(--primary-color);
  border-top: 1px solid #fff;
}

.social-link {
  @apply ml-2;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    display: block;
    text-align: center;
    left: 0;
  }
  .info {
    margin-top: 12px;
  }
}

@media (max-width: 739px) {
  .container {
    display: block;
    position: absolute;
    bottom: 0;
  }
}
