.container {
  min-height: var(--header-height);
  padding: 0 8px 20px 8px;
  background-color: var(--primary-color);
  position: fixed;
  width: var(--main-width);
  top: 0;
  z-index: 999;
}
.title {
  font-size: 3.6rem;
  padding: 12px 0;
  text-align: center;
}

.input-section {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--text-primary);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    padding: 0 var(--tablet-padding) 20px;
  }
}

.input {
  flex: 1;
  font-size: 2rem;
  font-weight: 600;
  padding: 12px;
  min-width: 200px;
}

.input-btn {
  font-size: 3.6rem;
  font-weight: 600;
  padding: 0 16px;
  background-color: transparent;
  color: var(--text-secondary);
}

@media (max-width: 1024px) {
  .container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    z-index: 999;
    width: 100%;
  }
}
