

@media (max-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    padding: calc(var(--header-height) + 20px) var(--tablet-padding) 180px;
  }
}

.todos {
  display: block;
  min-height: 100px;
}


.title {
  font-size: 2rem;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
  color: rgba($color: #fff, $alpha: 0.6);
}

.controller {
  @apply text-xl flex items-center text-white opacity-100 font-semibold;  
  span {
    margin-right: 8px;
  }
}



.reset-btn {
  font-size: 16px;
}
