.container {
  padding: calc(var(--header-height) + 20px) 8px 180px 8px;
}

@media (max-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    padding: calc(var(--header-height) + 20px) var(--tablet-padding) 180px;
  }
}

.todos {
  display: block;
  min-height: 100px;
}
.todo-later,
.todo-completed {
  margin-top: 16px;
}

.title {
  font-size: 2rem;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
  color: rgba($color: #fff, $alpha: 0.6);
}

.controller {
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: #fff;
  opacity: 1;
  font-weight: 600;
  span {
    margin-right: 8px;
  }
}

.reset-todos {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-btn {
  font-size: 1.6rem;
}
